@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background-dark: #191a1b;
    --background-dark-01: rgba(25, 26, 27, 0.1);
    --background-light: white;
    --background-light-01: rgba(255, 255, 255, 0.1);
    --text-dark: #212529;
}

.article {
    margin-top: 15px !important;
}

.button-theme-icon {
    max-width: clamp(20px, 2vw, 25px) !important;
    min-width: clamp(20px, 2vw, 25px) !important;
    min-height: clamp(20px, 2vw, 25px) !important;
    max-width: clamp(20px, 2vw, 25px) !important;
}

.theme-dark {
    background-color: var(--background-dark);
    color: var(--background-light);
}

.theme-light {
    /* background-color: var(--background-light); */
    color: var(--text-dark);
}

.theme-dark .theme-nav, 
.theme-dark .theme-brand,
.theme-dark .button-about {
    color: var(--background-light) !important;
}

.theme-dark .button-about {
    border-color: var(--background-light) !important;
}

.theme-light .theme-nav, 
.theme-light .theme-brand,
.theme-light .button-about {
    color: var(--text-dark) !important;
}

.theme-light .button-about {
    border-color: var(--text-dark) !important;
}

.theme-dark .article .card {
    border-color: var(--background-light);
    background-color: var(--background-dark) !important;
}

.theme-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.theme-light .article .card {
    background-color: var(--background-light) !important;
}

.theme-dark .footer {
    background-color: var(--background-dark);
}

.theme-light .footer {
    background-color: var(--background-light);
}

.button-theme {
    outline: rgba(17, 110, 250, 0.4) solid 4px !important;
    box-shadow: none !important;
}

.button-theme:hover {
    background-color: var(--background-dark-01);
    transition: background-color 0.4s ease;
}

.theme-dark .button-theme:hover {
    background-color: var(--background-light-01);
}

.theme-dark .card-portfolio {
    background-color: var(--background-dark);
    border-color: var(--background-light);
}

.socialmedia {
    transition: all 0.35s;
    color: black;
}

.socialmedia:hover {
    transition: all 0.35s;
    color: #116efa !important;
}

.tag {
    font-weight: bold;
    font-size: 13px;
    color: #116efa !important;
}

.link-card, .link-without-effect {
    text-decoration: none !important;
    color: inherit !important;
}

.card-article, .card-portfolio {
    border-color: #116EFA15;
    transition: all 0.35s;
    cursor: pointer;
}

.card-article:hover, .card-portfolio:hover {
    border-color: #116efa !important;
    transition: all 0.35s;
}

.button-about {
    transition: all 0.35s;
    background-color: transparent;
    border-color: black !important;
}

.button-about:hover {
    transition: all 0.35s;
    background-color: transparent !important;
    border-color: #116efa !important;
}

.button-about:focus {
    outline: none !important;
    box-shadow: none !important;
}

.footer {
    font-size: 14px;
}

@keyframes loading {
    0% {
        left: 0%;
    }

    100% {
        left: 150%;
    }
}

.loading {
    height: 2px;
    width: 35%;
    border-radius: 5px;
    margin-left: -50%;
    background-color: #116efa;
    position: relative;
    animation-name: loading;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.loading-visible {
    visibility: visible;
    transition: all 0.5s;
}

.loading-hidden {
    visibility: hidden;
    transition: all 0.5s;
}

@media only screen and (max-width: 992px) {
    .button-theme {
        width: 40px !important;
        height: 38px !important;
        margin-top: 15px;
    }
}