.description {
    margin-left: 10%;
    margin-right: 10%;
}

.tag {
    font-size: 16px;
    font-weight: bold;
}

.thumbnail {
    margin-top: 25px;
    height: 420px;
    margin-bottom: 20px;
}

.article_width {
    max-width: 60%;
}

@media only screen and (max-width: 990px) {
    .wrap_thumbnail {
        max-width: 85% !important;
    }

    .wrap_title {
        margin-top: 50px !important;
        max-width: 85% !important;
    }

    .wrap_content {
        max-width: 85% !important;
    }
}

@media only screen and (max-width: 570px) {
    .wrap_list_portfolio {
        max-width: 94%;
    }
}

@media only screen and (max-width: 760px) {
    .wrap_list_portfolio_description {
        width: 90% !important;
    }
}

@media only screen and (max-width: 490px) {
    .wrap_list_portfolio_description {
        width: 100% !important;
    }
}